body{
    font-family: "Roboto";
}
.game-dark .text-center h2{
    color: #fff;
}
.game-dark .text-center p{
    color: #fff;
}
.head-section button{
    background: #FFA07A;
    color: #fff;
}
.game-dark .card-title{
    color: #fff;
}
.footer button{
    background: #FFA07A;
    color: #fff;
}
.footer h2{
    color: #fff;
}
.footer p{
    color: #fff;
}